<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="stylesheet" href="style.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <div class="container-nav-content">
      <nav>
         <div class="logo"><h1>CODA</h1></div>
         <div class="bar-menu">
            <div><h2><span>MENU</span></h2></div>
            <div class="menu-bar">
               <input type="checkbox" class="toggler">
               <div class="hamburger"><div></div></div>
               <div class="menu">
                  <div>
                     <div>
                        <ul>
                           <li><a href="index.html">Home</a></li>
                           <li><a href="about.html">About</a></li>
                           <li><a href="contact.html">Contact</a></li>
                           <li><a href="services">Services</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </nav>

      <div class="content-container">
         <h2><span>WELCOME TO CODA</span></h2>
         <h1>We are a creative group of poeple who create and design influential brands and digital experience</h1>
         <button class="content-btn"><p><a href="#">Start a project</a></p></button>
         <button class="content-btn"><p><a href="#">More about</a></p></button>
      </div>
   </div>
   <div class="one">
      <div class="who-we-are">
         <h2>HELLO THERE</h2>
         <h1>We Are <span>CODA</span></h1>
         <hr>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus saepe voluptatem inventore accusamus consequatur maxime quo suscipit a ad, cumque laboriosam dignissimos neque dolorem repudiandae quasi deserunt quod officia nobis doloremque adipisci, enim iste sit ipsam. Repellendus beatae sapiente, fuga mollitia perspiciatis iusto quas accusamus aliquam similique! Et earum ullam dolore soluta pariatur rerum minus unde sit praesentium hic! Doloremque quaerat doloribus laborum ipsum blanditiis, enim reprehenderit animi nostrum quisquam tenetur ipsam. Reprehenderit ut enim molestias quod est impedit sequi porro officiis accusantium. Vel nemo illum non inventore, minus qui suscipit autem quod quo adipisci cumque neque tempore? Quae, ipsa!</p>
         <div class="awards">
            <div class="two">
               <h1>121</h1>
               <h2>Happy Clients</h2>
            </div>
            <div class="two">
               <h1>1505</h1>
               <h2>Award Received</h2>
            </div>
            <div class="two">
               <h1>109</h1>
               <h2>Cup Of Coffe</h2>
            </div>
            <div class="two">
               <h1>102</h1>
               <h2>Project Completed</h2>
            </div>
         </div>
      </div>
   </div>


   <div class="three">
      <div class="what-we-do">
         <h2><span>WHAT WE DO</span></h2>
         <h1>We got everything you need to launch and grow your business</h1>
      </div>
      <div class="tools">
         <div class="tool-container">
            <h2>Brand Identity</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati distinctio eius sunt molestias unde laborum officia perspiciatis quas adipisci hic. Enim rerum accusamus incidunt voluptate nemo nihil necessitatibus reprehenderit nisi neque libero ut veritatis a facilis quisquam, illo ullam id adipisci, non commodi itaque porro deserunt suscipit sed. Possimus fugit quasi accusantium voluptas. Atque illo, porro nam temporibus quibusdam voluptas ex esse, error asperiores soluta tempore repellat voluptates voluptatibus natus at totam provident odio magnam, id dolore eos distinctio? Eaque harum ut consequuntur ullam tempore possimus, incidunt vitae illum! Atque quod totam praesentium amet odit accusantium in soluta error laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aut consectetur vero possimus assumenda natus aliquam quibusdam blanditiis neque dolorem quidem in, facilis ipsum deleniti accusamus voluptatibus. Vitae, esse? Eveniet!</p>
            <button class="tool-btn"><a href="#"> Learn More</a></button>
         </div>
         <div class="tool-container">
            <h2>Illustration</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati distinctio eius sunt molestias unde laborum officia perspiciatis quas adipisci hic. Enim rerum accusamus incidunt voluptate nemo nihil necessitatibus reprehenderit nisi neque libero ut veritatis a facilis quisquam, illo ullam id adipisci, non commodi itaque porro deserunt suscipit sed. Possimus fugit quasi accusantium voluptas. Atque illo, porro nam temporibus quibusdam voluptas ex esse, error asperiores soluta tempore repellat voluptates voluptatibus natus at totam provident odio magnam, id dolore eos distinctio? Eaque harum ut consequuntur ullam tempore possimus, incidunt vitae illum! Atque quod totam praesentium amet odit accusantium in soluta error laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aut consectetur vero possimus assumenda natus aliquam quibusdam blanditiis neque dolorem quidem in, facilis ipsum deleniti accusamus voluptatibus. Vitae, esse? Eveniet!</p>
            <button class="tool-btn"><a href="#"> Learn More</a></button>
         </div>
         <div class="tool-container">
            <h2>Marketing</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati distinctio eius sunt molestias unde laborum officia perspiciatis quas adipisci hic. Enim rerum accusamus incidunt voluptate nemo nihil necessitatibus reprehenderit nisi neque libero ut veritatis a facilis quisquam, illo ullam id adipisci, non commodi itaque porro deserunt suscipit sed. Possimus fugit quasi accusantium voluptas. Atque illo, porro nam temporibus quibusdam voluptas ex esse, error asperiores soluta tempore repellat voluptates voluptatibus natus at totam provident odio magnam, id dolore eos distinctio? Eaque harum ut consequuntur ullam tempore possimus, incidunt vitae illum! Atque quod totam praesentium amet odit accusantium in soluta error laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aut consectetur vero possimus assumenda natus aliquam quibusdam blanditiis neque dolorem quidem in, facilis ipsum deleniti accusamus voluptatibus. Vitae, esse? Eveniet!</p>
            <button class="tool-btn"><a href="#"> Learn More</a></button>
         </div>
         <div class="tool-container">
            <h2>Web Design</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati distinctio eius sunt molestias unde laborum officia perspiciatis quas adipisci hic. Enim rerum accusamus incidunt voluptate nemo nihil necessitatibus reprehenderit nisi neque libero ut veritatis a facilis quisquam, illo ullam id adipisci, non commodi itaque porro deserunt suscipit sed. Possimus fugit quasi accusantium voluptas. Atque illo, porro nam temporibus quibusdam voluptas ex esse, error asperiores soluta tempore repellat voluptates voluptatibus natus at totam provident odio magnam, id dolore eos distinctio? Eaque harum ut consequuntur ullam tempore possimus, incidunt vitae illum! Atque quod totam praesentium amet odit accusantium in soluta error laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aut consectetur vero possimus assumenda natus aliquam quibusdam blanditiis neque dolorem quidem in, facilis ipsum deleniti accusamus voluptatibus. Vitae, esse? Eveniet!</p>
            <button class="tool-btn"><a href="#"> Learn More</a></button>
         </div>
         <div class="tool-container">
            <h2>Web Development</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati distinctio eius sunt molestias unde laborum officia perspiciatis quas adipisci hic. Enim rerum accusamus incidunt voluptate nemo nihil necessitatibus reprehenderit nisi neque libero ut veritatis a facilis quisquam, illo ullam id adipisci, non commodi itaque porro deserunt suscipit sed. Possimus fugit quasi accusantium voluptas. Atque illo, porro nam temporibus quibusdam voluptas ex esse, error asperiores soluta tempore repellat voluptates voluptatibus natus at totam provident odio magnam, id dolore eos distinctio? Eaque harum ut consequuntur ullam tempore possimus, incidunt vitae illum! Atque quod totam praesentium amet odit accusantium in soluta error laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aut consectetur vero possimus assumenda natus aliquam quibusdam blanditiis neque dolorem quidem in, facilis ipsum deleniti accusamus voluptatibus. Vitae, esse? Eveniet!</p>
            <button class="tool-btn"><a href="#"> Learn More</a></button>
         </div>
         <div class="tool-container">
            <h2>Package Design</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati distinctio eius sunt molestias unde laborum officia perspiciatis quas adipisci hic. Enim rerum accusamus incidunt voluptate nemo nihil necessitatibus reprehenderit nisi neque libero ut veritatis a facilis quisquam, illo ullam id adipisci, non commodi itaque porro deserunt suscipit sed. Possimus fugit quasi accusantium voluptas. Atque illo, porro nam temporibus quibusdam voluptas ex esse, error asperiores soluta tempore repellat voluptates voluptatibus natus at totam provident odio magnam, id dolore eos distinctio? Eaque harum ut consequuntur ullam tempore possimus, incidunt vitae illum! Atque quod totam praesentium amet odit accusantium in soluta error laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aut consectetur vero possimus assumenda natus aliquam quibusdam blanditiis neque dolorem quidem in, facilis ipsum deleniti accusamus voluptatibus. Vitae, esse? Eveniet!</p>
            <button class="tool-btn"><a href="#"> Learn More</a></button>
         </div>
      </div>
   </div>

   <div class="four">
      <div class="recent-works">
         <h2><span>Recent Works</span></h2>
         <h1>We Love What We Do,Check Out Some Of Our Recent Works</h1>
      </div>
      <div class="works">
         <img src="./4d.jpg" alt="one">
         <img src="./images.jpg" alt="one">
         <img src="./4d.jpg" alt="one">
         <img src="./images.jpg" alt="one">
         <img src="./4d.jpg" alt="one">
         <img src="./images.jpg" alt="one">
         <img src="./4d.jpg" alt="one">
         <img src="./images.jpg" alt="one">
         <img src="./4d.jpg" alt="one">
         <img src="./4d.jpg" alt="one">
         <img src="./images.jpg" alt="one">
         <img src="./4d.jpg" alt="one">
         <img src="./4d.jpg" alt="one">
         <img src="./images.jpg" alt="one">
         <img src="./4d.jpg" alt="one">
      </div>
   </div>

   <div class="three">
      <div class="our-client">
         <h2><span>Our Clients</span></h2>
         <h1>CODA has been honoured to partner up with these</h1>
      </div>
      <div class="client">
         <div class="client-info">
            <img src="./2b9e5465d4bd4cdf8c8e5f645ce6202c.jpg" alt="one">
            <p>CEO Twitter</p>
            <h2>Jon Locke</h2>
            <div class="info">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quia incidunt maiores. Minima distinctio, totam est aperiam modi nemo magnam recusandae voluptates dolor ad! Iusto modi nisi neque non magni sed fuga molestiae aliquid? Sint accusamus temporibus cumque minima dolore inventore placeat neque non, ipsa facere, error cupiditate mollitia nostrum.</p>
            </div>
         </div>
         <div class="client-info">
            <img src="./FB_IMG_16138580275241984.jpg" alt="one">
            <p>CEO Netflix</p>
            <h2>Shifatu Ameerat</h2>
            <div class="info">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quia incidunt maiores. Minima distinctio, totam est aperiam modi nemo magnam recusandae voluptates dolor ad! Iusto modi nisi neque non magni sed fuga molestiae aliquid? Sint accusamus temporibus cumque minima dolore inventore placeat neque non, ipsa facere, error cupiditate mollitia nostrum.</p>
            </div>
         </div>
         <div class="client-info">
            <img src="./FB_IMG_16138510819841440.jpg" alt="one">
            <p>CEO Apple</p>
            <h2>Tom Reid</h2>
            <div class="info">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quia incidunt maiores. Minima distinctio, totam est aperiam modi nemo magnam recusandae voluptates dolor ad! Iusto modi nisi neque non magni sed fuga molestiae aliquid? Sint accusamus temporibus cumque minima dolore inventore placeat neque non, ipsa facere, error cupiditate mollitia nostrum.</p>
            </div>
         </div>
         <div class="client-info">
            <img src="./FB_IMG_16138500944335804.jpg" alt="one">
            <p>CEO MTN</p>
            <h2>Jonatan Tameed</h2>
            <div class="info">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quia incidunt maiores. Minima distinctio, totam est aperiam modi nemo magnam recusandae voluptates dolor ad! Iusto modi nisi neque non magni sed fuga molestiae aliquid? Sint accusamus temporibus cumque minima dolore inventore placeat neque non, ipsa facere, error cupiditate mollitia nostrum.</p>
            </div>
         </div>
         <div class="client-info">
            <img src="./FB_IMG_16138346812454572.jpg" alt="one">
            <p>CEO Google</p>
            <h2>Raymon Felica</h2>
            <div class="info">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quia incidunt maiores. Minima distinctio, totam est aperiam modi nemo magnam recusandae voluptates dolor ad! Iusto modi nisi neque non magni sed fuga molestiae aliquid? Sint accusamus temporibus cumque minima dolore inventore placeat neque non, ipsa facere, error cupiditate mollitia nostrum.</p>
            </div>
         </div>
         <div class="client-info">
            <img src="./FB_IMG_16136470715716706.jpg" alt="one">
            <p>CEO Tiktok</p>
            <h2>Felitta tim</h2>
            <div class="info">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quia incidunt maiores. Minima distinctio, totam est aperiam modi nemo magnam recusandae voluptates dolor ad! Iusto modi nisi neque non magni sed fuga molestiae aliquid? Sint accusamus temporibus cumque minima dolore inventore placeat neque non, ipsa facere, error cupiditate mollitia nostrum.</p>
            </div>
         </div>
      </div>
   </div>
   <div class="contact">
      <div class="contact-us">
         <p><span>CONTACT US</span></p>
         <h2>Reach out for a new project or just ay hello</h2>
      </div>
      <div class="message">
         <P>SEND US A MESSAGE</P>
         <form>
            <div>
               <label for="name">Name</label>
               <input type="text">
            </div>
            <div>
               <label for="email">Email</label>
               <input type="text">
            </div>
            <div>
               <label for="name">Subject</label>
               <input type="text">
            </div>
            <div>
               <label for="name">Message</label>
               <textarea name="message" id="message" cols="30" rows="10"></textarea>
            </div>
            <div>
               <button class="tool-btn"><a href="#">Submit</a></button>
            </div>
         </form>
      </div>
      <div class="contact-information">
         <div class="info-contactt">
            <h2><span>WHERE TO FIND US</span></h2>
            <p>Block 24, Flat 9,Rabbiatu Thompson, Surulere, Lagos</p>
        </div>
         <div class="info-contactt">
            <h2><span>EMAIL US AT</span></h2>
            <p>Shifatuameerat@gmail.com</p>
             <p>Shifatuabidemi@gmail.com</p>
            <p>Shifatuameerah@gmail.com</p>
            <p>coda_web@gmail.com</p>
         </div>
         <div class="info-contactt">
            <h2><span>CONTACT US WITH</span></h2>
            <p>08039520812</p>
            <p>07036399061</p>
         </div>
      </div>
   </div>
   <div class="five">
      <div class="coda">
         <h2><span>CODA</span></h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam fugiat quod ullam dolores laboriosam minus sunt earum consequuntur dolorum doloribus corporis assumenda est, nesciunt molestias aliquam dignissimos voluptatum accusamus in veritatis dolor eveniet incidunt quas expedita? Vel necessitatibus laboriosam esse ex recusandae doloremque corporis mollitia voluptates molestias architecto expedita, consectetur molestiae velit inventore voluptatum similique, ipsam, praesentium repudiandae sunt itaque cum! Nobis rerum neque ratione, exercitationem facilis itaque molestiae dolorum quasi illo, corporis delectus voluptatibus ea pariatur doloribus accusantium voluptates obcaecati vitae. Blanditiis et sit, corrupti consequuntur accusamus odio ipsum nostrum reprehenderit 
         consectetur harum maiores impedit! Deleniti obcaecati harum rerum.</p>
      </div>
      <div class="get-notified">
         <h2><span>get notified</span></h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga exercitationem corporis repellendus necessitatibus optio libero nesciunt recusandae, eos illo ducimus in, aliquid harum culpa omnis dignissimos ratione laborum consectetur incidunt eaque? Quod corporis debitis officiis nulla obcaecati sunt dolorem tempore repellendus iusto optio blanditiis consequatur aspernatur similique, eligendi asperiores ab aut iste voluptatum quidem sapiente commodi nesciunt fuga? Quam dolore aut ad officia autem ex earum laborum, rem accusamus consectetur natus nisi, blanditiis reprehenderit laboriosam quis nemo? Eos facilis explicabo corporis quod perferendis maxime modi vel sed dolor! Iusto iure deserunt minima quod distinctio sequi obcaecati eius pariatur necessitatibus consequuntur?</p>
      </div>
      <div>
         <input type="email" placeholder="Email Address" id="email">
         <button class="tool-btn"><a href="#">Suscribe</a></button>
      </div>
   </div>
   <footer>
      <p>&copy copyright <span>CODA</span> 2023</p>
   </footer>

</body>
</html>